*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
}

/*Splash screen*/
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    background-color: #161616;
    transition: 1s;
    pointer-events: none;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ede8e4;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/*Header ----------------------------------------------------------------------------------------*/
/*Header logo*/
nav{
    background-color: #dad6d2e7;
    box-shadow: 3px 3px 5px rgba(0, 0,0,0.1);
    display: flex;
    padding: 1% 1%;

    width: 100%;
    justify-content: flex-end;
    position:fixed;
    z-index: 10;
}
nav img {
    width: 40px;
}

/*Header links*/
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 100%;
}
nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;

    color: #3a4b44;
    text-decoration: none;
}
nav li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #d44449;
    display: block;
    margin:auto;
    transform: translate(0px ,-8px);

    transition: 0.5s;
}
nav li:hover:after{
    width: 43%;
}
nav li customSelected:after{
    content: '';
    width: 100%;
    height: 3px;
    background: #d44449;
    display:block;
    margin: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 3;

    background-color: #dad6d24b;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);

    display: none;
    flex-direction: column;
    align-items:flex-end;
    justify-content:flex-start;
}
.sidebar li{
    padding-top: 10px;
    height: 40px;
}
.sidebar a{
    width: 100%;
}
.menuButton{
    display: none;
}

@media(max-width:800px){
    .menuButton{
        display: block;
    }
    .headerIc{
        display: none;
    }
    .hideOnMobile{
        display: none;
    }
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}
/*Landing ----------------------------------------------------------------------------------------*/
.landing{
    display:flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: #ede8e4;
}
.mainImage{
    position: absolute;
    width: 90vw;
    transform: translate(0,-10vh);
}
.CharactersLeft{
    position: absolute;
    transform: translate(-30vw, 30%) scaleX(-1);

    width: 40vw;
}
.CharactersRight{
    display: block;
    position: absolute;
    transform: translate(30vw, 25%);
    width: 30vw;
}
/*
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #d44449;
    border: 1px solid #d44449;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
    transform: translate(0, 500px);
}
.hero-btn:hover{
    color: #ede8e4;
    border: 1px solid #f44336;
    background: #f44336;
}
*/

.hero-btn_2 {
    transform: translate(0, 500px);
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #d44449;
    color: #d44449;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
  }
  
  .hero-btn_2::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #ede8e4;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
  }
  
  .hero-btn_2:hover::before {
    transform: scaleY(0);
  }
  
  .hero-btn_2::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #ede8e4;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.5s;
  }
  
  .hero-btn_2:hover::after {
    transform: scaleX(0);
  }
  
  .hero-btn_2 span {
    position: relative;
    z-index: 3;
  }

@media(max-width:700px){
    .hero-btn_2{
        font-size: 16px;
        transform: translate(0, 200px);
    }
    .mainImage{
        position: absolute;
        width: 100vw;
        transform: translate(0,-20vh);
    }
    .CharactersLeft{
        position: absolute;
        transform: translate(0, 0) scaleX(-1);
        width: 100vw;
    }
    .CharactersRight{display: none;}
    .hero-btn{
    transform: translate(0, 20vh);
    }
}