*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --baseColor_clear: #ede8e4;
    --baseColor_dark: #dad6d2e7;
    --baseColor_dark_transparent: #dad6d24b;
    --red_interactibles: #d44449;
    --green_text: #3a4b44;
}

body{
    min-height: 100vh;
    background-color: var(--baseColor_clear);
}

/*Splash screen*/
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    background-color: #161616;
    transition: 1s;
    pointer-events: none;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ede8e4;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
/*Character cursor -----------------------------------------------------------------------------*/
.character {
    position: fixed;
    width: 30px;
    height: 30px;
    image-rendering: pixelated;
    background-image: url('images/CursorCharacter/Ch_idle_SH.png');
    background-size: 240px 30px;
    background-repeat: no-repeat;
    animation: idle-animation 1s steps(8) infinite;
    transition: transform 0.1s linear;
    pointer-events: none;

    z-index: 9;
}

@keyframes idle-animation {
    from { background-position: 0 0; }
    to { background-position: -240px 0; }
}

@keyframes run-animation {
    from { background-position: 0 0; }
    to { background-position: -240px 0; }
}


/*Header ----------------------------------------------------------------------------------------*/
/*Header logo*/
nav{
    background-color: var(--baseColor_dark);
    box-shadow: 3px 3px 5px rgba(0, 0,0,0.1);
    display: flex;
    padding: 1% 1%;

    width: 100%;
    justify-content: flex-end;
    position:fixed;
    z-index: 10;
}
nav img {
    width: 40px;
}

/*Header links*/
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 100%;
}
nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;

    color: #3a4b44;
    text-decoration: none;
}
nav li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--red_interactibles);
    display: block;
    margin:auto;
    transform: translate(0px ,-8px);

    transition: 0.5s;
}
nav li:hover:after{
    width: 43%;
}
nav li customSelected:after{
    content: '';
    width: 100%;
    height: 3px;
    background: var(--red_interactibles);
    display:block;
    margin: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 3;

    background-color: var(--baseColor_dark_transparent);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);

    display: none;
    flex-direction: column;
    align-items:flex-end;
    justify-content:flex-start;
}
.sidebar li{
    padding-top: 10px;
    height: 40px;
}
.sidebar a{
    width: 100%;
}
.menuButton{
    display: none;
}

@media(max-width:800px){
    .menuButton{
        display: block;
    }
    .headerIc{
        display: none;
    }
    .hideOnMobile{
        display: none;
    }
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}
/*Landing ----------------------------------------------------------------------------------------*/
.landing{
    display:flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: var(--baseColor_clear);
}
.mainImage{
    position: absolute;
    width: 90vw;
    transform: translate(0,-10vh);
}
.CharactersLeft{
    position: absolute;
    transform: translate(-30vw, 30%) scaleX(-1);

    width: 40vw;
}
.CharactersRight{
    display: block;
    position: absolute;
    transform: translate(30vw, 25%);
    width: 30vw;
}

@media(max-width:700px){
    .mainImage{
        position: absolute;
        width: 100vw;
        transform: translate(0,-20vh);
    }
    .CharactersLeft{
        position: absolute;
        transform: translate(0, 0) scaleX(-1);
        width: 100vw;
        
    }
    .CharactersRight{
        display: none;
    }
}

/* Scrolling footer ----------------------------------------------------------------------------------------*/
.scrollContainer{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--baseColor_clear);
}
.scroll{
    white-space: nowrap;
    margin: 0 2em;
}
.scroll div{
    display: flex;
    gap: 2em;
}
.scroll p{
    margin-bottom: 0;
    line-height: 30px;
    color: var(--baseColor_dark);
}

.rightScroll{
    animation: RightToLeft 50s infinite linear;
}

.leftScroll{
    animation: LeftToRight 50s infinite linear;
}

@keyframes RightToLeft{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);
    }
}

@keyframes LeftToRight{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}

/* Quick introduction ----------------------------------------------------------------------------------------*/
.introContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--baseColor_dark);
}
.introText-section {
    padding: 10;
    flex: 1;
    text-align: left;
    order:1;
}
.introImage-section {
    flex: 1;
    text-align: right;
    order: 2;
}
.introImage-section img{
    width: 400px;
}
.introSocial-icons {
    display: flex;
    justify-content: left;
}
.introSocial-icons img {
    width: 30px;
    margin-right: 10px;
}
.introWhideText{
    display: block;
}
.introSkinnyText{
    display: none;
}
@media (max-width: 800px) {
    .introContainer{
        flex-direction: column;
    }
    .introText-section{
        text-align: center;
        order: 2;
    }
    .introSocial-icons{
        justify-content: center;
    }
    .introWhideText{
        display: none;
    }
    .introSkinnyText{
        display: block;
    }
    .introImage-section {
        align-self: center;
        order: 1;
    }
    .introImage-section img{
        width: 40vw;
    }
}
@media (max-width: 600px){
    .introImage-section img{
        width: 80vw;
    }
}

/*Intro Button*/
.introButton {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .introButton::before,
  .introButton::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .introButton::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .introButton::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .introButton:active,
  .introButton:focus {
    outline: none;
  }
  
  .introButton:active::before,
  .introButton:active::after {
    right: 3px;
    left: 3px;
  }
  
  .introButton:active::before {
    top: 3px;
  }
  
  .introButton:active::after {
    bottom: 3px;
  }
  
  .introButton_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: var(--baseColor_clear);
    background-color: var(--green_text);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .introButton_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--green_text);
  }
  
  .introButton_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--green_text);
    transition: all .2s ease;
  }
  
  .introButton_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: var(--red_interactibles);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .introButton_text {
    position: relative;
  }
  
  .introButton:hover {
    color: var(--green_text);
  }
  
  .introButton:hover .introButton_sl {
    width: calc(100% + 15px);
  }
  
  .introButton:hover .introButton_lg::after {
    background-color: var(--baseColor_clear);
  }

/* Skills ----------------------------------------------------------------------------------------*/
    .skillsMain {
        width: 100%;
        height: 500px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    .skillsMain::before {
        content: "";
        position: absolute;
        top: -150px;
        bottom: -150px;
        right: -100px;
        left: -100px;
        background-image: url('images/Card_Back.png');
        background-repeat: repeat;
        background-size: 100px 150px;

        transform: rotate(-5deg);
        z-index: -1;
    }

    .scrollingCardsWrapper{
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        display: flex;
    }

    .cardsContainer{
        display: flex;
        gap: 20px;
        animation: scrollCards 30s linear infinite;
    }

    @keyframes scrollCards {
        from {
            transform: translateX(10px);
        }
        to {
            transform: translateX(-50%);
        }
    }

    .secondaryScrollingCardsWrapper{
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        display: none;
    }
    @keyframes secondaryScrollCards {
        from {
            transform: translateX(-50%);
        }
        to {
            transform: translateX(10px);
        }
    }

    .skillCard{
        width: 150px;
        height: 150px;
        background-image: url('images/Card_bk_square.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-shrink: 0;

        filter: saturate(50%);
    }

    .skillCard img{
        height: 40%;
        width: auto;
        position: absolute;
    }

    @media (max-width: 800px){
        .skillsMain{
            height: 200px;
        }
        .skillCard{
            width: 100px;
            height: 100px;
        }
    }
    @media (max-width: 600px){
        .skillsMain{
            flex-direction: column;
            height: 300px;
        }
        .secondaryScrollingCardsWrapper{
            display: flex;
        }
    }

/* Projects higlight ----------------------------------------------------------------------------------------*/
    .projects-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1px, 500px));
        padding: 70px 10px;
        gap: 20px;
        max-width: 1400px;
        margin: auto;
        justify-content: center;
    }

    .project {
        max-width: 500px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
        aspect-ratio: 16/9;
        background-color: var(--baseColor_dark);
    }

    .project:hover {
        transform: scale(1.05);
    }

    .project img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
        object-fit: cover;
    }

    .project-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        color: var(--baseColor_clear);
        padding: 10px;
        font-size: 18px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .project:hover .project-title {
        opacity: 1;
    }

    .overlayProject {
        position: absolute;
        display: none;
        width: 100%;
        height: 100px;
        background-color: rgba(0,0,0,0.9);
        z-index: 2;
        cursor: pointer;
    }
    
    .overlayText{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
    /* Contact section ----------------------------------------------------------------------------------------*/
    /* OLD
    .contactWrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .contactWrapper h1{
        color: var(--baseColor_clear);
        padding-top: 30px;
        text-align: center;
    }
    input{
        background-color: var(--baseColor_dark);
        width: 100%;
        max-width: 500px;
        font-size: 14px;
        padding: 16px 16px;
        border-radius: 10px;
        border-color: var(--green_text);
        margin-bottom: 20px;
    }
    textarea{
        background-color: var(--baseColor_dark);
        width: 100%;
        max-width: 500px;
        font-size: 14px;
        padding: 16px 16px;
        border-radius: 10px;
        border-color: var(--green_text);
        margin-bottom: 25px;
    }
    input:focus-within{
        outline: none;
        border-color: var(--red_interactibles);
        border-width: 3px;
    }
    textarea:focus-within{
        outline: none;
        border-color: var(--red_interactibles);
        border-width: 3px;
    }

    @media (max-width: 600px){
        input{
            font-size: 12px;
            margin-bottom: 10px;
        }
        textarea{
            font-size: 12px;
        }
    } */

    /* Footer ----------------------------------------------------------------------------------------*/
    .footer {
        background-color: var(--baseColor_dark);
        padding: 5px;
        text-align: center;
        position: relative;
        height: 120px;
    }
    
    .footer-center {
        margin-bottom: 10px;
    }
    
    .footer-image {
        width: 80%;
        max-width: 200px;
        image-rendering: pixelated;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .mobileFooterImg{
        display: none;
    }

    .footer-links {
        margin-top: 5px;
    }
    
    .footer-links a {
        margin: 0 10px;
        text-decoration: none;
        color: var(--green_text);
        font-weight: bold;
    }
    
    .footer-links a:hover {
        text-decoration: underline;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    
    .footer-left, .footer-right {
        text-align: left;
    }
    
    .footer-right {
        text-align: right;
    }
    
    .footer p {
        margin: 5px 0;
        color: var(--red_interactibles);
    }
    @media (max-width: 600px){
        .footer p{
            font-size: 12px;
        }
        .footer-links{
            display: none;
        }
        .footer-image{
            display: none;
        }
        .mobileFooterImg{
            display: inline;
            image-rendering: pixelated;
            height: 30px;
            width: auto;
        }
    }